-r ./requirements.txt

# Utils
# ------------------------------------------------------------------------------
rope # for refactoring in VS Code
jupyter # For comparisons with voila
voila # For comparisons with voila
bqplot # For comparisons with voila