-r ./requirements.txt

# Utils
# ------------------------------------------------------------------------------
rope # for refactoring in VS Code
jupyter # For comparisons with voila
voila # For comparisons with voila
bqplot # For comparisons with voila
selenium==3.141.0
ptvsd # Python Tools for Visual Studio debug server. See https://github.com/microsoft/ptvsd